html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}



h1 {
    font-weight: 300;
    padding: 16px;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 90%;
    margin-left: 5%;
    height: 80%;
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 20%;
    width: 20%;
    margin-right: 5%;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 33px;
    }

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 100%;
    
    
    margin-bottom: 16px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    color:#02ccba;
    font-size: 1.5em;
}
.score-panel .col-3{
    text-align: center;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.v-center{
    align-items: center;
}

/* The Modal -winner- dialog */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background: white;
}

.visible {
    display: table;
}

.modal-content {
    background: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}



.primary-color {
    color: #02ccba;
}

.btn-success {
    color: white;
    background: #02ccba;
    padding: 8px;
    border: 0px;
    margin: 4px;
}

 @media only screen  and (min-width:800px){
    .deck{
        width:660px;
        padding-left: unset;
        padding: 32px;
        
    }

    .deck .card {
        height: 125px;
        width: 125px;
        margin-right: unset;
    }
} 

@media only screen  and (max-width:400px) and (min-height:700px){
    .deck{
        max-height: 500px;
    }
}